name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # Triggers on tags like v1.0.0, v1.0.0-dev

# This is required for OIDC authentication
permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Check Publish Dry Run
        run: flutter pub publish --dry-run

      - name: Publish to pub.dev
        run: flutter pub publish --force
